$primary: #4e46b4;
$primary-button-text: #EBEBEB;
$primary-body-text: #2C2828;
$secondary: #40a69f;
$secondary-body-text: #999CA0;
$secondary-button-text:#242424 ;
$background-color: #f5f5f5;
$dark: #404040;
$light: #f4f5f8;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$hoverColor:rgba(0, 0, 0, 0.12);

$inputFocus: #5260ff;
$inputBorder: #666666;

// Typography
$font-family: "Helvetica", sans-serif;
$font-size-base: 16px;
$heading-font-weight: bold;

// Spacing
$spacing-unit: 10px;
$padding-unit: $spacing-unit;
$margin-unit: $spacing-unit;




