$primary: #4e46b4;
$primary-button-text: #EBEBEB;
$primary-body-text: #2C2828;
$secondary: #40a69f;
$secondary-body-text: #999CA0;
$secondary-button-text:#242424 ;
$background-color: #f5f5f5;



// Typography
$font-family: "Helvetica", sans-serif;
$font-size-base: 16px;
$heading-font-weight: bold;

// Spacing
$spacing-unit: 10px;
$padding-unit: $spacing-unit;
$margin-unit: $spacing-unit;




